.top,
.bottom {
  background-color:#022E45;
  color: #fff;
  padding-block: 1rem;
}

.mid {
  min-height: 30rem;
  background-color: #f0fffd;
  color: #02612e;
}

.bottom {
  background-color: #151515;
  color: #fff;
}
