.top,
.bottom {
  background-color:#005748;
  color: #fff;
  padding-block: 1rem;
}

.mid {
  min-height: 30rem;
  background-color: #f0fffd;
  color: #02612e;
}

.bottom {
  background-color: #f2f9d8;
  color: var(--primary_clr);
}
