/* SignUp.css */

.signup {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 3rem 0;
}

.signup-container {
  padding: 20px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 8px;
  max-width: 400px;
  width: 100%;
  margin: auto;
  background: #022e45;
  backdrop-filter: blur(25px);
  color: #ffe7a9;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.signup-container label {
  margin-top: 10px;
}

.signup-container input {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #000;
  outline: none;
  border: none;
}

.signup .btn {
  padding: 0.5rem 1.5rem;
  margin: 0.5rem 0;
}

.navigation-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.signup .btn {
  background: linear-gradient(180deg, #37ffde 71.54%, #37ffde 100%);
  border: 3px solid #37ffde;
  color: #022e45;
  padding: 0.3rem 1rem;
}

.signup .btn:hover {
  color: #022e45;
  border: 3px solid #37ffde;
}

/* Social buttons */
.social-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.social-btn {
  display: flex;
  align-items: center;
  background: #37ffde; /* Google Blue */
  color: #022e45;
  padding: 10px;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  margin-bottom: 10px;
}

.github-btn {
  display: flex;
  align-items: center;
  background: #24292e; /* GitHub Black */
}

/* Responsive styles for tablets */
@media (max-width: 768px) {
  .signup-container {
    max-width: 90%;
  }
}

/* Responsive styles for mobile devices */
@media (max-width: 480px) {
  .signup-container {
    padding: 15px;
  }

  .signup-container input {
    font-size: 14px;
  }
}
