.navbar {
  gap: 0.5rem;
}
.navbar > * {
  letter-spacing: 0.5px;
  font-size: clamp(1.1rem, 1vw + 2px, 1.5rem);
  padding: 0.5rem 0.9rem;
}

.active {
  background-color: var(--secondary_clr);
  color: var(--primary_clr);
  padding: 0.5rem 0.9rem;
  border-radius: 0.5rem 0 0.5rem 0;
}

@media (max-width: 750px) {
  .navbar {
    gap: 0.7rem;
  }

  .navbar > * {
    letter-spacing: 0.5px;
    font-size: 1rem;
  }
}
