@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&display=swap");

:root {
  --primary_clr: #244034;
  --secondary_clr: #6bfae2;
  --accent_clr: #00c058;
  --text_clr: #fff;

  --font_EB: "EB Garamond", serif;
  --font_TB: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  --font_xl: 2rem;
  --font_md: 1.6rem;
  --font_sm: 1.2rem;
}
/*======== Use a more-intuitive box-sizing model & Remove default margin,padding ========*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*======== Add accessible line-height & Improve text rendering ========*/
html {
  scroll-behavior: smooth;
}

body {
  line-height: auto;
  text-rendering: optimizeSpeed;
  font-family: var(--font_TB);
}

/*======== Improve media defaults ========*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*======== Remove built-in form typography styles ========*/
input,
button,
textarea,
select,
a {
  font: inherit;
  color: inherit;
}

/* ========== Reset a & span  & ul & li ========== */
a {
  display: inline-block;
  text-decoration: none;
}

span {
  display: inline-block;
}

ul,
ol {
  list-style: none;
}

/*======== Avoid text overflows ========*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* ==========< Flex & Grid Utilities >========== */
.grid {
  display: grid;
}

.flex {
  display: flex;
}

.jc-c {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}

.ai-c {
  align-items: center;
}

.center {
  justify-content: center;
  align-items: center;
}

.btn {
  background: linear-gradient(180deg, #18004d 71.54%, #0e0a17 100%);
  border: none;
  border-radius: 0.625rem;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  text-transform: capitalize;
  padding: .8rem 1.8rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border: 3px solid #18004d;
  font-weight: 600;
  transition: all 0.3s linear;
}

.btn:hover {
  border-radius: 0.625rem;
  color: #0e0a17;
  border: 3px solid #0e0a17;
}

.btn::before {
  background: #fff;
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  transform: scaleX(0);
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.btn:hover::before {
  transform: scaleX(1);
  z-index: -1;
}

.box {
  position: relative;
  cursor: pointer;
}

.box::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #176b87;
  border-radius: 0.625rem;
  z-index: -1;
  transition: 0.5s transform ease-in;
}

.box:hover.box::after {
  transform: translate(1.2rem, 1.5rem) rotate(-5deg) scale(1.01);
}

.section__padding {
  padding: 0 clamp(1.5rem, 5vw, 2rem);
}
