.not__found {
  background-color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.not__found img{
  width: 40%;
  object-fit: cover;
}

.not__found p {
  font-size: 3.5rem;
  color: rgb(255, 6, 6);
}
